<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>

{% if user.is_authenticated %}
<p>Logged in as: {{ user.username }}</p>
<form method="post" action="{% url 'logout' %}">
{% csrf_token %}
<button type="submit">Logout</button>
</form>
{% endif %}

<h1>Student List</h1>

<a href="{% url 'student_create' %}">
    Register Student
</a>

<a href="{% url 'student_dashboard' %}">
    Dashboard
</a>

<hr>

<table border="1">
    <tr>
        <th>Student Name</th>
        <th>Program</th>
        <th>Year Level</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.student_name }}</td>
        <td>{{ student.program }}</td>
        <td>{{ student.year_level }}</td>
        <td>{{ student.email }}</td>
        <td>
            <a href="{% url 'student_update' student.pk %}">
                Edit
            </a>

            |

            <a href="{% url 'student_delete' student.pk %}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>